.enter-amount-fields {
  width: 100px;
}

.delete-button:hover {
  box-shadow: 0 0 15px rgb(125, 22, 99);
}

#description-entry-field {
  width: 300px;
  height: 100px;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(184, 32, 146);
  font-size: 17px;
}

.hide {
  display: none;
}
