.add-keywords-step .keyword-is-chosen {
  width: 150px;
  margin: 4px;
  font-size: 22px;
}

.add-keywords-step .keyword-is-not-chosen {
  width: 150px;
  margin: 4px;
  font-size: 22px;
}

.add-keywords-step .width {
  max-width: 620px;
  @media screen and (min-width: 768px) {
    max-width: 640px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 960px;
  }
}
