textarea {
  border: 2px solid rgb(184, 32, 146);
  border-radius: 20px;
  width: 330px;
  height: 180px;
  font-size: 17px;
  font-family: "Comic Sans MS";
}

.amounts {
  width: 100px;
  margin: 10px;
}

#ingredientAmountEntry {
  text-align: left;
}

@media only screen and (min-width: 500px) {

} /*
   in AddRecipe
  #ingredientAmountEntry {
    margin: 30px;
    text-align: left;
  }*/
