@import 'Colors.scss';

.amounts-and-ingredients-fields .enter-amounts-fields {
  width: 100px;
}

.amounts-and-ingredients-fields .enter-ingredients-fields {
  width: 160px;
}

.amounts-and-ingredients-fields .delete-button:hover {
  box-shadow: 0 0 16px rgba($primary-color, 0.5);
}
