/*#number-of-persons {
  width: 30px;
  height: 20px;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
}

.ingredient-item {
  transition: transform 0.3s ease;
}

.swipe-out {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}*/
