$primary-color: royalblue;
$secondary-color: #3d2db7;
$tertiary-color: white;
$input-color: black;


// rgb(206, 39, 164)
// rgb(253, 159, 230)
// rgb(184, 32, 146)
// rgb(241, 119, 211)
// rgb(125, 22, 99)
// #342793
// rgb(131, 22, 104)
