$primary-color: royalblue;
$secondary-color: #3d2db7;
$tertiary-color: white;
$input-color: black;

// "yellow",
// "orange",
// "red",
// "mediumorchid",
// "royalblue",
// "limegreen",
/*background-color: rgb(206, 39, 164);*/
/*background-color: rgb(253, 159, 230);*/
// color: rgb(184, 32, 146);
// rgb(241, 119, 211)
// (125, 22, 99)
// $secondary-color: #342793;
