.edit-recipe #number-of-persons {
  width: 24px;
  height: 20px;
  margin: 8px;
  margin-bottom: 16px;
  color: black;
}

.edit-recipe #recipe-name {
  font-size: 20px;
  width: 344px;
  padding: 8px;
  font-weight : bold;
}

.edit-recipe .amounts-fields {
  width: 70px;
}

.edit-recipe .ingredients-fields {
  width: 180px;
}

.edit-recipe #add-ingredient-button {
  font-size: 17px;
}

.edit-recipe #description {
  width: 328px;
  height: 204px;
  font-size: 22px;
}
