.edit-recipe .card {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 16px 0px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-recipe #recipe-name {
  font-size: 20px;
  width: 344px;
  padding: 8px;
  // font-weight : bold;
  &:hover{
    border: none;
  }
}

.edit-recipe .reverse-colored-button {
  font-size: 17px;
  // background-color: white;
  // width: 200px;
  // margin: 20px;
  // &:hover {
  //   color: rgb(131, 22, 104);
  //   box-shadow: 0 0 24px rgba(131, 22, 104, 0.2);
  // }
}

.edit-recipe #description {
  width: 328px;
  height: 204px;
  font-size: 17px;
}

// .edit-recipe {
  //   color: rgb(184, 32, 146);
  //   font-size: 20px;
  //   border-width: 0px;
// }

// .amounts-fields {
//   border-width: 0px;
//   box-shadow: 0 0 0;
//   margin: 0px 5px 0px 0px;
//   padding: 0px;
//   width: auto;
//   text-align: right;
// }

// .amounts-fields:hover {
//   box-shadow: none;
// }

// .amounts-fields:focus {
//   border: none;
// }

// .ingredients-fields {
//   border-width: 0px;
//   box-shadow: 0 0 0;
//   margin: 0px 0px 0px 5px;
//   padding: 0px;
//   width: auto;
//   text-align: left;
// }

// .ingredients-fields:hover {
//   box-shadow: none;
// }

// .ingredients-fields:focus {
//   border: none;
// }
