@import 'Colors.scss';

.ingredient-category-button {
  width: 270px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.is-not-chosen {
  width: 220px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.is-chosen {
  width: 230px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
