@import 'Colors.scss';

.ingredient-group .ingredient-category-button {
  width: 250px;
  padding: 4px;
  margin: 10px;
  font-size: 22px;
}

.ingredient-group .is-not-chosen {
  width: 200px;
  padding: 4px;
  margin: 5px;
  font-size: 22px;
}

.ingredient-group .is-chosen {
  width: 210px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}
