@import './Colors.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $quartery-color;
  padding: 0px 28px;
  margin: -8px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0px 10px;
  padding-right: 8px;
  padding-left: 8px;
}

.active {
  color: white;
}

.not-active {
  color: $off-white;
}

.navbar .hidden {
  color: $quartery-color;
}
