@import './Colors.scss';

nav {
  // background-image: url('../images/pasta.jpg');
  background-size: 'contain';
  background-position: 'center';
  height: '10vh';
}

nav ul {
  display: flex;
  justify-content: center;
  margin-left: -35px;
}

nav ul li {
  margin: 10px;
  padding: 2px;
}
