.recipe-card .recipe-image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0px;
  width: 340px;
}

.recipe-card {
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 12px;
  padding-bottom: 8px;
  color: black;
  width: 340px;
}
