.recipe-card {
  position: relative;
  border: 1px solid lightgrey;
  color: black;
  width: 340px;
  height: 300px;
}

.recipe-card .recipe-image {
  position: absolute;
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 340px;
}

.recipe-card-text {
  position: absolute;
  top: 250px;
}
