#number-of-persons {
  width: 30px;
  height: 20px;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  border-color: rgb(184, 32, 146);
  color: rgb(184, 32, 146);
}

.recipe-card {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin: 15px 5px;
}
