@import './Colors.scss';

.show-ingredients #number-of-persons {
  width: 24px;
  height: 20px;
  margin: 8px;
  margin-bottom: 16px;
  color: $primary-color;
}

.show-ingredients td {
  &:first-child {
    padding-right: 16px;
  }
}
