@import "./stylesheets/KeywordSearch.css";
/*@import "./stylesheets/ShowRecipe.css";*/
/*@import "./stylesheets/ChangeRecipe.css";*/
/*@import "./stylesheets/DeleteRecipe.css";*/
@import "./stylesheets/IngredientGroup.css";
@import "./stylesheets/AddAmounts.css";
@import "./stylesheets/AddKeywords.css";
/*@import "./stylesheets/AddRecipe.css";*/


body {
  font-family: "Comic Sans MS";
  color: rgb(184, 32, 146);
  font-size: 20px;
}

/*background-color: rgb(206, 39, 164);*/
/*background-color: rgb(253, 159, 230);*/

button {
  color: white;
  background-color: rgb(184, 32, 146);
  border-width: 0px;
  border-radius: 20px;
  margin: 10px 5px;
  padding: 5px 10px;
  font-size: 17px;
  box-shadow: 0 0 15px rgba(184, 32, 146, 0.1);
  font-family: "Comic Sans MS";
}

input {
  border-radius: 20px;
  margin: 10px 5px;
  padding: 5px 10px;
  border: 2px solid rgb(184, 32, 146);
  font-size: 17px;
  font-family: "Comic Sans MS";
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(184, 32, 146, 0.1);
}

input:focus {
  outline: none;
  border: 3spx solid rgb(184, 32, 146);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
