@import './stylesheets/AddKeywordsStep.scss';
@import './stylesheets/AmountsAndIngredientsFields.scss';
@import './stylesheets/DescriptionField.scss';
@import './stylesheets/EditRecipe.scss';
@import './stylesheets/IngredientGroup.scss';
@import './stylesheets/KeywordSearch.scss';
@import './stylesheets/Login.scss';
@import './stylesheets/Navbar.scss';
@import './stylesheets/RecipeCard.scss';
@import './stylesheets/RecipeNameField.scss';
@import './stylesheets/ShowIngredients.scss';
@import './stylesheets/ShowRecipe.scss';
@import './stylesheets/ShowRecipeDescription.scss';

@import './stylesheets/Colors.scss';
@import './stylesheets/Fonts';

body {
  font-family: $primary-font, 'Arial';
  font-size: 24px;
  text-shadow: 0 0 16px rgba($primary-color, 0.1);
}

h1, h2 {
  font-family: $header-font;
  text-shadow: 4px 4px 4px rgba(black, 0.4);
  color: $secondary-color;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
}

button {
  color: white;
  background-color: $primary-color;
  border-width: 0px;
  border-radius: 12px;
  margin: 12px 4px;
  padding: 4px 12px;
  font-size: 20px;
  box-shadow: 0 0 8px rgba($primary-color, 0.2);
  font-family: $button-font, 'Geneva';
  &:hover {
    box-shadow: 0 0 4px rgba($primary-color, 0.2);
    background-color: $secondary-color;
  }
  &:focus {
    outline: 0px solid $primary-color;
  }
  :focus:not(:focus-visible) {
    outline: none;
  }
}

.reverse-colored-button {
  color: $primary-color;
  background-color: $tertiary-color;
  font-size: 20px;
  box-shadow: 2px 2px 6px rgba($secondary-color, 0.4);
  &:hover {
    box-shadow: 0px 0px 4px rgba($primary-color, 0.6);
    background-color: $tertiary-color;
  }
}

.white-black-button {
  color: black;
  background-color: white;
  box-shadow: 0 0 8px rgba(black, 0.2);
  &:hover {
    box-shadow: 0 0 4px rgba(black, 0.2);
    background-color: white;
  }
}

input {
  color: $input-color;
  border-radius: 8px;
  margin: 8px 4px;
  padding: 4px 8px;
  border: 0px solid $secondary-color;
  font-size: 20px;
  font-family: $input-font;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 4px rgba($primary-color, 0.4);
  &:hover {
    box-shadow: 0 0 4px rgba($primary-color, 0.8);
  }
  &:focus {
    outline: 0px solid $primary-color;
  }
}

textarea {
  padding: 4px 8px;
  font-family: $input-font;
  color: $input-color;
  border: 0px solid $secondary-color;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba($primary-color, 0.4);
  &:hover {
    box-shadow: 0 0 4px rgba($primary-color, 0.8);
  }
  &:focus {
    outline: 2px solid $primary-color;
  }
}

img {
  border-radius: 8px;
  width: 360px;
  margin: 12px 0px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-vertical-alignment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(black, 0.3);
  padding: 8px 16px;
  margin: 16px 12px;
  width: 328px;
  &:hover {
    box-shadow: 2px 2px 8px rgba(black, 0.4);
  }
  &:focus {
    outline: 2px solid $primary-color;
  }
}

.margin-top {
  margin-top: 24px;
}

.display-none {
  display: none;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.message {
  color: limegreen;
}

.warning {
  color: red;
}
